<div class="row">
	<div class="large-3 medium-4 columns">
		<div class="hide-for-smalli">
			<div class="sidebar">
				<h5>Punditly API documentation</h5>
				<nav>
					<div class="side-nav">
						<ul>
							<h4>Authentication</h4>
							<li><a href="/docs/auth#register">POST register</a></li>
							<li><a href="/docs/auth#login">POST login</a></li>
							<li><a href="/docs/auth#logout">POST logout</a></li>
						</ul>
						<ul>
							<h4>account</h4>
							<li><a href="/docs/account#get_users">GET users/:id</a></li>
							<!--li><a href="account#get_settings">GET account/settings</a></li>
							<li><a href="account#post_settings">POST account/settings</a></li-->
							<li><a href="/docs/account#post_profile">POST account/profile</a></li>
							<li><a href="/docs/account#post_profile_image">POST account/profile_image</a></li>
						</ul>
						<ul>
							<h4>Comments</h4>
							<li><a href="/docs/comments#get_comment">GET comments/:id</a></li>
							<li><a href="/docs/comments#get_home_timeline">GET comments/home_timeline</a></li>
							<li><a href="/docs/comments#get_mentions">GET comments/mentions</a></li>
							<li><a href="/docs/comments#post_comment">POST comments/create</a></li>
						</ul>
						<ul>
							<h4>Friendships</h4>
							<li><a href="/docs/friendships#get_following">GET friendships/following</a></li>
							<li><a href="/docs/friendships#get_followers">GET friendships/followers</a></li>
							<li><a href="/docs/friendships#post_create">POST friendships/create</a></li>
							<li><a href="/docs/friendships#post_destroy">POST friendships/destroy</a></li>
						</ul>
						<ul>
							<h4>Streams</h4>
							<li><a href="/docs/streams#get_replies">GET streams/replies</a></li>
						</ul>
					</div>
				</nav>
			</div>
		</div>
	</div>